.App {
    font-family: Arial, Helvetica, sans-serif;
  }
  body, html,#root,.App {
    height: 100%;
  }

  .header {
    background-color: #2c387e;
    height: 50px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  
  
  .header-title {
    text-align: right;
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
  }
  
  .container {
    width: calc(100% - 2rem);
    height: calc(100% - 50px);
    margin: 0 auto;
  }
  
  .row{
       height: 50%;
      display: flex;
      flex-direction: row;
  }

  .cell-1-2{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    border: 2px dotted;
  }