.App {
  font-family: Arial, Helvetica, sans-serif;
}
.main-header {
  background-color: black;
  height: 100px;
}


.main-header__title {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
  margin: 0px;
}

.container {
  width: calc(100% - 2rem);
  margin: 0 auto;
}
